.portfolio {
  overflow: hidden;
  height: 100vh;
  width: auto;
  background-color: #57abae;
  /* flex-wrap: wrap; */
}

.portfolio h2 {
  color: #d5f8f2;
}

.portfolio img {
  margin: 10px;
  width: 300px;
  height: 170px;
}

.projects {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.projects a {
  width: auto;
  height: 170px;
}

.project-card:hover .hover {
  opacity: 0.8;
}

.projects h2 {
  padding: 5px;
  color: #646464;
  font-size: 30px;
  width: auto;
}

.project-card {
  height: 170px;
}
.hover {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: -196.5px;
  margin: 10px;
  width: 300px;
  height: 170px;
  background-color: #f2f9f9;
  opacity: 0;
}
