.contact {
  text-align: center;
  color: #408486;
}

/* .contact ul {
  margin: 0;
  padding: 0;
  text-align: left;
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.contact .info {
  margin: 0;
  padding: 0;
  text-align: left;
  /* width: 40vw; */
  mix-blend-mode: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact ul {
  margin: 0px;
  padding: 0;
}

.contact li {
  list-style: none;
  text-align: left !important;
}

.contact a {
  color: #408486;
}
.contact a:hover {
  color: #86c6c9;
}
.line {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 90vw;
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
  right: 5%;
  left: 5%;
  border: 1px solid#408486;
}
