.contact {
  text-align: center;
  color: #408486;
}

.contact ul {
  text-align: left;
  /* width: 40vw; */
  mix-blend-mode: normal;
  position: relative;
  right: 30%;
  left: 30%;
}

.contact a {
  color: #408486;
}
.contact a:hover {
  color: #86c6c9;
}
.line {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 90vw;
  height: 1px;
  mix-blend-mode: normal;
  position: relative;
  right: 5%;
  left: 5%;
  border: 1px solid#408486;
}
