.about-me-container {
  height: 100vh;
  width: auto;
  text-align: center;
  padding-top: 5vh;
  background-color: #408486;
  color: #d5f8f2;
}

.my-p {
  height: 50vh;
  width: auto;
}
.my-p img {
  border-radius: 50%;
  height: 100%;
  width: auto;
}

.about-me-container p {
  font-size: 25px;
  position: relative;
  top: 10px;
}
